.app__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;

    h2{
        font-size: 54px;
        font-weight: 700;
        text-align: center;
        color: #fff;
        
        span{
            color: #ffff00;
        }

        @media screen and (max-width: 600px) {
                font-size: 38px;
        }
    }

    p {
        text-align: center;
        color: #fff;

        span {
            font-weight: 700;
            color: #91D2F7;
        }
    }
}